<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @check.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @check.url %>
</p>

<%= image_tag @check.rrd_png_url %>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
